.studioiwill-detail-root-container {
    // margin:0px 13%;
    margin: 40px 13%;
    overflow: hidden;

    .preview-area {
        width: 100%;
        margin-top: 10%;
        // border-bottom: 0.5px solid #707070;
        // border-top: 0.5px solid #707070;

        .preview {
            width: 100%;
            max-height: 350px;
        }
    
        .preview-slider-area {
            margin: 30px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .preview-slider {
                position: relative;
                width: 100%;
    
                .preview-img {
                    width: 260px !important;
                    height: 130px;
                    cursor: pointer;
                }
            }
    
            .detail-slider-btn {
                display: flex;
                position: absolute;
                top: 0;
                align-items: center;
                cursor: pointer;
                height: calc(100% - 3px);
    
                &.prev {
                    left: 0;
                    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
                }
    
                &.next {
                    right: 0;
                    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
                }
    
                .slider-btn-img {
                    width: 10px;
                    height: 30px;
                    padding: 0 10px;
                }
            }
        }
    }

    .detail-area {
        display: flex;
        flex-direction: row;
        margin: 40px 0 50px 0;
        // gap: 10%;
        overflow: hidden;

        .project-area {
            width: 40%;

            .project {
                font-family: NanumSquareNeo;
                font-size: 18px;
                color: #707070;
            }

            .project-title {
                font-family: NanumSquareNeo;
                font-size: 22px;
                font-weight: 900;
                margin-top: 23px;
                word-break: keep-all;
            }
        }

        .project-info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 60%;

            .project-info-item {
                display: flex;
                flex-direction: row;
                gap: 10%;
                word-break: break-all;

                .project-info-label {
                    min-width: 90px;
                    font-family: NanumSquareNeo;
                    font-size: 16px;
                    color: #252525;

                }
                .project-info-value {
                    font-family: NanumSquareNeo;
                    font-weight: 700;
                    font-size: 16px;
                    color: #252525;
                }
            }
        }
    }
}

.slick-track {
    display: flex !important;
    gap: 16px;
}














