.m-building {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 40%;
    min-width: 80px;
    border: 3px solid black;
    perspective: 200px;
    background: white;
    cursor: pointer;

    .text-area {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        padding: 10%;

        .number {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            color: #252525;
        }

        .title {
            font-family: NanumSquareNeo;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: -0.55px;
            color: #252525;
            margin: 9px 0 3px 0;
        }

        .date {
            font-family: NanumSquareNeo;
            font-size: 11px;
            color: #252525;
        }
    }

    .side {
        width: 30px;
        min-width: 30px;
        background: black;
        position: absolute;
        right: -36px;
        bottom: -26px;
        transform: skewY(45deg);
        border-right: 3px solid black;

        &.checked {
            background: linear-gradient(black 25%, white 25% 50%, black 50% 75%, white 75% 100%);
            background-size: 100% 30px;
        }
    }
}