.building {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    min-width: 300px;
    border: 2px solid #252525;
    perspective: 200px;
    background: white;
    cursor: pointer;
}

.side {
    width: 56px;
    min-width: 56px;
    background: #252525;
    position: relative;
}

.space {
    width: 0;
    height: 0;
    border-top: 28px solid white;
    border-bottom: 28px solid transparent;
    border-right: 28px solid white;
    border-left: 28px solid transparent;
    position: absolute;
    top: -2px;
    right: -2px
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    padding: 15px;
}

.number {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: #252525;
}

.title {
    font-family: NanumSquareNeo;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.55px;
    color: #252525;
    margin: 9px 0 3px 0;
}

.date {
    font-family: NanumSquareNeo;
    font-size: 14px;
    color: #252525;
}