@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: NanumSquareNeo;
    font-weight: 700;
    src: url("/public/fonts/NanumSquareNeo-Blold.ttf");
}

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    src: url("/public/fonts/NanumSquareNeo-Regular.ttf");
}

@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    src: url("/public/fonts/NanumSquareNeo-Heavy.ttf");
}